.gradle/
build
.settings/
.project
.classpath
*.class
.idea
*.iml
.gradle
./local.properties
.idea/workspace.xml
./.idea/libraries
.idea/*/
./*/out/
./out
./gradle
./*/*.log
./*/out
/wicc-chain-entity/out/
/wicc-chain-contract/out/
*/gradle
/wicc-chain-pojo/out/
*/out
./gradle/*